body {
  background-color: rgb(51, 51, 51);
}

table, tbody, tr {
  margin: 0 auto;
  width: 100%;
}

header td {
  text-align: center;
}

td {
  margin: 0 auto;
  width: 33%;
}

details > summary::-webkit-details-marker {
  display: none;
}

.icon {
  display: block;
  margin: auto;
}
